// Colors
$color-white: #fff;
$color-main-gray: #333;
$color-mid-gray: #666;
$color-light-gray: #999;
$color-border-gray: #efefef;
$color-pink: #f72585;
$color-fuscia: #7209b7;
$color-purple: #3a0ca3;
$color-blue: #4361ee;
$color-aqua: #4cc9f0;

// Box Shadows
$box-shadow-1: 0 0 4px rgba(0, 0, 0, .5);
$box-shadow-2: 1px 1px 4px rgba(100, 100, 100, .1);

// Layout
$container-width: 1020px;
$container-max-width: 92%;

// Border Radius
$border-radius-sm: 4px;